
Source: curvevpn
Section: net
Priority: optional
Build-Depends: debhelper-compat (= 12)
Maintainer: Jan Mojžíš <jan.mojzis@gmail.com>
Homepage: https://mojzis.com/software/curvevpn/
Standards-Version: 4.3.0
Vcs-Git: https://github.com/janmojzis/curvevpn.git
Vcs-Browser: https://github.com/janmojzis/curvevpn

Package: curvevpn
Section: net
Depends: ${shlibs:Depends}
Architecture: any
Description: CurveVPN - binaries

Package: curvevpn-server-run
Section: net
Depends: daemontools-run, curvevpn, make, gzip
Architecture: all
Description: CurveVPN server under daemontools
